
[data-widget="demo-front-body"]
{
	background: red;
	margin: 0;
	display: flex;
	flex-direction: column;
	height: 100%;
}

.demo-front-body__middle
{
	flex-grow: 1;
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
}

.demo-front-body__middle > main
{
	flex-grow: 1;
	padding: 1rem;
}

.demo-front-body__middle > aside
{
	padding: 1rem;
	width: 250px;
}
