
[data-widget="demo-front-nav"]
{
	background: orange;
}

[data-widget="demo-front-nav"] > ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
}

[data-widget="demo-front-nav"] a
{
	display: inline-block;
	padding: 1rem;
}
