
[data-widget="demo-front-footer"]
{
	background: brown;
}

[data-widget="demo-front-footer"] > ul
{
	list-style: none;
	padding: 0;
	margin: 0;
	display: flex;
	justify-content: center;
}

[data-widget="demo-front-footer"] > ul > li
{
	padding: 1rem;
}
